@model OPIMsys.Models.CompanyPage
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Company Page </legend>
    <p>This will also delate all revisions</p>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PageName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Details", new { id=Model.CompanyId })
    </p>
}
